<SmartRunner>
<TestType>Smoke</TestType>
<Target>
<DeviceID>09eebb76</DeviceID>
<OSVer>4.3</OSVer><Model>ASUS_T00G</Model><Resolution>720x1280</Resolution><DPI>320</DPI></Target>
<CameraMode>HyperSoftCam</CameraMode>
<TestNumber>3</TestNumber>
<PassCriteria>2</PassCriteria>
<RebootValue>1</RebootValue>
<RerunValue>1</RerunValue>
<ErrorDebug>C:\Users\jzhan66\Documents\uBT\Davinci\Scripts\Scripts\debug.bat</ErrorDebug>
<RunPreparation>False</RunPreparation>
<WarningAsPass>False</WarningAsPass>
<SkipFirstRoundNoResult>False</SkipFirstRoundNoResult>
<Breakpoint>True</Breakpoint>
<RebootForEachAPK>False</RebootForEachAPK>
<SmokeTestTimeout>900</SmokeTestTimeout>
<PreferredHotSpot>Guest</PreferredHotSpot>
<WaitForDevice>true</WaitForDevice>
<SeedValue>1</SeedValue>
<MultiAbi>n</MultiAbi>
<APK_download_mode>downloaded</APK_download_mode>
</SmartRunner>